/* styles.css */
.icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
}

.details {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.details-button:hover {
    background-color: #0056b3;
}

.action-buttons .btn {
    margin-right: 5px;
}
